<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  .myclass{
    height:70px;
    width:100%;
    word-break: break-word;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .button_dispute {
    background-color: rgb(224, 138, 80);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    border-radius: 8px;
    cursor: pointer;
    margin-inline-start: 7px;
    /* margin-left: 250px;
  margin-right: 250px; */
  }

  button_color .totalscore {
    /* background-color: rgb(238, 238, 238); */
    width: 500px;
    height: 25px;
    color: green;
    /* border: 15px solid green; */
    padding: 10px;
    margin-left: 1000px;

  }

  .button_next {
    background-color: rgb(224, 138, 80);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .accuracyscore {
    /* background-color: rgb(238, 238, 238); */
    width: 500px;
    height: 25px;
    color: rgb(19, 0, 128);
    /* border: 15px solid green; */
    padding: 10px;
    margin-left: 1000px;

  }

  .attempt {
    /* background-color: rgb(238, 238, 238); */
    width: 500px;
    height: 25px;
    color: rgb(128, 0, 85);
    /* border: 15px solid green; */
    padding: 10px;
    margin-left: 1000px;

  }

  .table {
    margin: auto;
    width: 75% !important;
  }

  input[value="Disputed"] {
    background: rgb(141, 122, 109);
  }

  input[type=text],
  select {
    width: 100%;
    padding: 1px 1px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    resize: vertical;
  }
</style>
<script>
  // $('#button').one('submit', function() {
  //     $(this).find('input[type="submit"]').attr('disabled','disabled');
  // })
  window.onload = function () {
    if (!window.location.hash) {
      window.location = window.location + '#modal-submit';
      window.location.reload();
    }
  }

  function changeToModal(index) {
    console.log(index);
    $('#hidden_input').val(index);
    $('#myModal').modal('show');
  }
</script>

<div>
  <br>
  <h2 class="text-center text-info">Caption Rater - The Game!</h2>
  <br>

  <h3 class="text-center text-info">Dashboard</h3>

  <h5 class="attempt">Total Score: <%= users[0].total_score %></h5>
  <h5 class="attempt">Accuracy:
    <% if(typeof  accuracy != 'undefined'){ %>
    <%= accuracy %>
    <% } %>

    %
  </h5>
  <h5 class="attempt">Number of Attempts: <%= users[0].total_num_attempts %></h5>

  <br>
  <div>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Caption</th>
          <th scope="col">Your Rating</th>
          <th scope="col">Consensus</th>
          <th scope="col">Scores earned</th>
          <th scope="col">Create a dispute</th>
        </tr>
      </thead>
      <tbody>

        <% for(var i=0; i < ratings.length; i++) { %>

        <tr>

          <!-- <td><img src=<%= ratings[i].img_url %> alt="" border=3 height=100 width=100></img></td>    -->

          <td><input type="image" name="image" src="<%= ratings[i].img_url %>" value="<%= ratings[i].img_url %>" alt=""
              height=100 width=100 readonly /></td>
          <td style="width:550px;"><input type="text" name="caption" value="<%= ratings[i].caption %>" readonly /> </td>
          <td><input type="text" name="rate" value="<%= ratings[i].rate %>" readonly /></td>
          <td><input type="text" name="consensus" value="<%= ratings[i].consensus %>" readonly /></td>
          <td><input type="text" name="scores" value="<%= ratings[i].scores %>"
              onloadeddata="myFunctionTest('<%= ratings[i].dispute %>')" readonly /></td>
          <input type="hidden" id="secret" name="hidden_test" value="<%= ratings[i].dispute %>" />
          <!-- <td><input type="submit" name="submit" class="button_dispute" value="Dispute" onclick="return foo();" /> -->
          <td><input class="button_dispute" id="button" name="submit"
              value="<% if(ratings[i].dispute !== 1){ %>Dispute<% } else{ %>Disputed<% } %>"
              onclick="changeToModal('<%= ratings[i].rate_id %>')" /></td>
          <!-- data-toggle="modal" data-target="#myModal" -->
          </td>

        </tr>

        <% } %>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Tell us the reason for dispute</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form action="/dashboard" method="POST">
          <div class="modal-body mx-3">

            <div class="md-form">
              <i class="fas fa-pencil prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="form8" style="color: red;">* Your message :</label>
              <input type="text"  id="dispute_description" name="dispute_description" class="myclass" style="background-color:antiquewhite" required />

              
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <input type="hidden" id="hidden_input" name="hidden_input" />
            <input id="modal-submit" type="submit" name="submit" value="Submit" class="btn btn-unique"
              style="background-color:goldenrod"><i class="fas fa-paper-plane-o ml-1"></i>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<form method="GET" action="/play" class="form-group">
  <input class="button_next" type="submit" name="submit" class="button_next" value="Play">
</form>
</div>