<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
<title>Dashboard</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  .wrapper {
    background-color: #dfddd4;
    /* margin-left: 10%;
      margin-right: 10%; */
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding-bottom: 20px;
  }

  .body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #717ea1;
    color: #000000;
  }

  .heading-text {
    color: #61259e;
    font-weight: 900;
  }

  .sound-text {
    color: rgb(144, 65, 155);
    font-size: 20px;
  }

  .myclass {
    height: 70px;
    width: 100%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* dashboard page buttons*/
  .button_next {
    background-color: rgb(224, 156, 108);
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }

  .selected-tab {
    background-color: rgb(223, 131, 70);
    box-shadow: 4px 10px 4px #6e6e6c;
  }

  .selected-tab:hover {
    color: ivory;
  }

  .not-selected-tab {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }

  .not-selected-tab:hover {
    background-color: rgb(223, 131, 70);
    color: ivory;
  }

  .btn-logout:focus {
    outline: none !important;
    color: ivory;
  }

  .button-play {
    background-color: rgb(87, 187, 170);
    color: white;
    border-radius: 8px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }

  .button-play:hover {
    background-color: rgb(40, 151, 133);
    color: ivory;
  }

  .anime {
    margin-top: -40px;
    margin-bottom: -40px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    /* min-width: 60%;
    max-width: 80%; */
  }

  .entry {
    padding: 2%;
    /* background-color: #babbb7; */
    text-align: center;
    box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 20%);
    border-radius: 15px;
    border: 3.5px solid rgb(133, 97, 160);
    background-color: rgb(211, 187, 161);
  }

  table {
    border-collapse: separate;
    border-spacing: 1px;
  }

  .card-score {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
    background-color: rgb(255, 255, 255);
    width: max-content;
    min-height: 170px;
  }

  .attempt {
    color: rgb(128, 0, 85);
    text-align: center;
  }

  /* dashboard table */
  .table-div {
    text-align: center;
    border: 3.5px solid rgb(133, 97, 160);
    border-radius: 13px;
  }

  input[value="Disputed"]  {
    background: rgb(141, 122, 109);
  }

  input[value="Declined"]  {
    background: rgb(132, 100, 80);
  }

  input[value="Accepted"]  {
    background: rgb(89, 134, 90);
  }

  input[type=text],
  select {
    padding: 1px 1px;
    margin: 8px 0;
    /* background-color: #e0e1dd; */
    border: none;
    width: 100%;
    border-radius: 4px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
  }

  .table th {
    text-align: center;
    background-color: rgb(211, 187, 161);
  }

  .table td {
    text-align: center;
    background-color: rgb(238, 224, 204);
  }

  /* media queries */
  @media screen and (min-width: 685px) {
    .anime {
      width: 40%;
      max-width: 40%;
    }
  }

  @media screen and (min-width: 1100px) {
    .anime {
      width: 30%;
      max-width: 30%;
      margin-bottom: -90px;
    }
  }

  @media screen and (max-width: 900px) {
    .desktop {
      display: none;
    }

    .mobile {
      border-spacing: 0px 8px;
    }
  }

  @media screen and (min-width: 900px) {
    .mobile {
      display: none;
    }
  }

  @media (max-width: 586px) {
    .container {
      max-width: 450px;
    }
  }

  @media (max-width: 499px) {
    .container {
      max-width: 380px;
    }
  }
</style>
<script>
  // $('#button').one('submit', function() {
  //     $(this).find('input[type="submit"]').attr('disabled','disabled');
  // })
  window.onload = function () {
    if (!window.location.hash) {
      window.location = window.location + '#modal-submit';
      window.location.reload();
    }

  }
  var user = "<%= users[0].tutorial_images %>";
  if (parseInt(user) > 0) {
    window.location.replace("/tutorial-intro");
  }

  function changeToModal(index) {
    console.log(index);
    $('#hidden_input').val(index);
    $('#myModal').modal('show');
  }

</script>


<body class="body">

  <div class="container wrapper">
    <div class="header">
      <br />
      <h1 class="text-center heading-text">Caption Rater - The Game!</h1>
      <br />
      <div class="d-flex justify-content-center mt-2 flex-wrap">
        <form class="form-group mx-4">
          <input type="submit" name="submit" class="form-group btn button_next selected-tab" value="Dashboard">
        </form>
        <form method="GET" action="/play" class="form-group mx-4 ">
          <input class="btn button-play" type="submit" name="submit" value="Play">
        </form>
        <form method="GET" action="/leaderboard" class="form-group mx-4">
          <input type="submit" name="submit" class="btn button_next not-selected-tab" value="Leaderboard">
        </form>
        <form method="GET" action="/tutorial-intro" class="form-group mx-4">
          <input type="submit" name="" class="btn button_next not-selected-tab" value="Instructions">
        </form>
        <form method="GET" action="https://forms.gle/7tqSh5kxzSW17fgm7" class="form-group mx-4">
          <input type="submit" name="" class="btn button_next not-selected-tab" value="Report Issues">
        </form>
        <form method="GET" action="/logout" class="form-group mx-4">
          <input type="submit" name="" class="btn btn-secondary not-selected-tab btn-logout" value="Log Out">
        </form>

        <!--     
  <form class="form-group mx-4">
    <input
    class="btn btn-secondary not-selected-tab btn-logout"
    type="submit"
    aria-hidden="true"
    data-toggle="modal"
    data-target="#signout"
    value="Logout">
</input>
</form> -->
      </div>
      <h2 class="text-center text-info font-italic font-weight-bold"><u>Dashboard</u></h2>

      <br />
      <div class="d-flex justify-content-around flex-wrap">
        <img src="https://validatedicr.org/gifs/dashboard.gif" class="img-fluid anime">
        <div class="d-block mx-auto">
          <div class="card card-score p-3 m-3 align-items-center justify-content-center">
            <h4 class="attempt font-weight-bold text-success">Total Score: <%= users[0].total_score %>
                </h5>


                <h5 class="attempt">Number of Attempts: <%= users[0].total_num_attempts %>
                </h5>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="p-4 table-responsive">
      <table class="table desktop text-center table-div">
        <thead class="">
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Caption</th>
            <th scope="col">Your Rating</th>
            <th scope="col">Consensus</th>
            <th scope="col">Confidence</th>
            <th scope="col">Scores earned</th>
            <th scope="col">Create a dispute</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i < ratings.length; i++) { %>

            <tr>

              <!-- <td><img src="./images<%= ratings[i].img_url %>" alt="" class="border border-dark rounded" height=100
                  width=100></img></td> -->
              <td><img src="https://validatedicr.org/images/<%= ratings[i].img_url %>" alt=""
                  class="border border-dark rounded" height=100 width=100></img></td>
              <!-- <td><input type="image" name="image" src="./images<%= ratings[i].img_url %>" value="<%= ratings[i].img_url %>" alt=""
              height=100 width=100 readonly /></td> -->
              <!-- <td style="width:550px;"><input type="text" name="caption" value="<%= ratings[i].caption %>" readonly /> </td> -->
              <td style="width:450px;" class="font-weight-bold text-dark">
                <%= ratings[i].caption %>
              </td>
              <td><input type="text" name="rate" value="<%= ratings[i].rate %>" readonly /></td>
              <td><input type="text" name="consensus" value="<%= ratings[i].consensus  %>" readonly /></td>
              <!-- yet to change -->
              <td><input type="text" name="Confidence" value="<%= ratings[i].confidence  %>" readonly /></td>
              <td><input type="text" name="scores" class="text-success font-weight-bold"
                  value="<%= ratings[i].scores %>" onloadeddata="myFunctionTest('<%= ratings[i].dispute %>')"
                  readonly /></td>
              <input type="hidden" id="secret" name="hidden_test" value="<%= ratings[i].dispute %>" />
              <!-- <td><input type="submit" name="submit" class="button_dispute" value="Dispute" onclick="return foo();" /> -->
              <td><input style="width:100px;" class="btn btn-danger btn-lg mx-auto p-3" id="button" name="submit"
                  value="<% if(ratings[i].dispute === 0){ %>Dispute<% } else if(ratings[i].dispute === 1) { %>Disputed<% } else if(ratings[i].dispute === 2) { %>Declined<% } else { %>Accepted<%} %>"
                  onclick="changeToModal('<%= ratings[i].rate_id %>')" /></td>
              <!-- data-toggle="modal" data-target="#myModal" -->
              </td>

            </tr>

            <% } %>
        </tbody>
      </table>

      <table class="mobile">
        <tbody>

          <% for(var i=0; i < ratings.length; i++) { %>

            <tr>

              <!-- <td><img src=<%= ratings[i].img_url %> alt="" border=3 height=100 width=100></img></td>    -->
              <!-- <td><input type="image" name="image" src="./images<%= ratings[i].img_url %>" value="<%= ratings[i].img_url %>" alt=""
            height=100 width=100 readonly /></td> -->
              <td class="entry">
                <input type="image" name="image" src="./images<%= ratings[i].img_url %>"
                  value="<%= ratings[i].img_url %>" alt="" width=100% readonly />
                <p class="p-2 m-3"><kbd>
                    <%= ratings[i].caption %>
                  </kbd></p>
                <input style="width: fit-content;" type="text" name="consensus"
                  value="Consensus: <%= ratings[i].consensus  %>" readonly />
                <input style="width: fit-content;" type="text" name="rate" value="Your Rating: <%= ratings[i].rate %>"
                  readonly />
                <input style="width: fit-content;" type="text" name="confidence"
                  value="Confidence Rating: <%= ratings[i].confidence %>" readonly />

                <input style="width: fit-content;" type="text" name="scores" value="Score: <%= ratings[i].scores %>"
                  onloadeddata="myFunctionTest('<%= ratings[i].dispute %>')" readonly />
                <input type="hidden" id="secret" name="hidden_test" value="<%= ratings[i].dispute %>" />
                <br />
                <!-- <td><input type="submit" name="submit" class="button_dispute" value="Dispute" onclick="return foo();" /> -->
                <input class="btn btn-danger btn-lg mx-auto w-25 p-2 mt-2" id="button" name="submit"
                  value="<% if(ratings[i].dispute !== 1){ %>Dispute<% } else{ %>Disputed<% } %>"
                  onclick="changeToModal('<%= ratings[i].rate_id %>')" />

              </td>
              <!-- data-toggle="modal" data-target="#myModal" -->

            </tr>
            <% } %>

        </tbody>
      </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Tell us the reason for dispute</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <form action="/dashboard" method="POST">
            <div class="modal-body mx-3">

              <div class="md-form">
                <i class="fas fa-pencil prefix grey-text"></i>
                <label data-error="wrong" data-success="right" for="form8" style="color: red;">* Your message :</label>
                <input type="text" id="dispute_description" name="dispute_description" class="myclass"
                  style="background-color:antiquewhite" required />


              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <input type="hidden" id="hidden_input" name="hidden_input" />
              <input id="modal-submit" type="submit" name="submit" value="Submit" class="btn btn-unique"
                style="background-color:goldenrod"><i class="fas fa-paper-plane-o ml-1"></i>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- signout modal -->
  <div class="modal fade" id="signout" role="dialog" tabindex="-1" aria-labelledby="signoutLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body modal-edit mx-auto">
          <div>
            <h4 class="text-secondary"> Are you sure? </h4>
          </div>
          <div>
            <form method="GET" action="/logout" class="">
              <form method="GET" action="/tutorial-intro" class="form-group mx-4">

              </form>
              <input type="submit" name="submit" class="btn bg-info btn-lg btn-block text-center text-white"
                value="Yes" />
            </form>
            <button type="button" class="btn bg-info btn-lg text-center btn-block text-white" data-dismiss="modal">
              No
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>