<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<meta
  name="viewport"
  content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
/>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<title>Play</title>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .table {
      margin: auto;
      width: 80% !important;
      font-size: 14;
      border: 3.5px solid rgb(99, 99, 155);
      border-radius: 10px;
    }
    .image {
      border-radius: 15px 15px 0 0px;
      /* width: 100%; */
      width: fit-content;
      height: auto;
      /* background-size: 100% 100%; */
      }
    .wrapper {
      background-color: #dddfd4;
      /* margin-left: 30%;
      margin-right: 10%; */
      height: 30%;
      margin:3%;
      box-shadow:2px 5px 10px 2px rgb(0 0 0 / 20%);
      padding: 0%;
      padding-left: 0 !important;
      padding-right: 0 !important;
      border-radius: 15px;
      /* width: fit-content; */
    }

    .animation{  
      /* top: 50%; */
      background-color: #dfddd4;
      /* margin-left: 30%;
      margin-right: 10%; */
      box-shadow:2px 5px 10px 2px rgb(0 0 0 / 20%);
      height: 50%;
      margin:3%;
      padding: 1%;
      border-radius: 15px;
    }
    .info{
      display: none;
    }

    .img-div {
     background-color: rgb(109, 109, 109);
     border-radius: 15px;
     /* width: fit-content; */
    }

    .caption {
    color: rgb(3, 14, 3);   
    width: fit-content;
    margin: auto;
    /* padding: 4px; */
    background-color: white;
    box-shadow:2px 5px 10px 2px rgb(0 0 0 / 20%);
    padding: 8px;
    border-radius: 8px;
    text-align: center;
  }
  .gif{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 768px) {
    .gif{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .animation{
    padding: 25px;
  }

  }

  .body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #717ea1;
    color: #000000;
  }
  .button_next_before {
    /* background-color: rgb(224, 138, 80); */
    background: #afadad;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
    /* margin: 2 0px; */
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .button_next {
    background-color: rgb(224, 138, 80);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
    /* margin: 2 0px; */
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .button_instructions {
    background-color: rgb(72, 83, 247);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 30px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #myDIV {   
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .hide {
    display: none;
  }
  .show {
    display: block;
  }

</style>
<script>
  function show_hide_instructions() {
    var x = document.getElementById("myDIV");
    if (x.style.display !== "none") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
  window.onload = setTimeout(function () {
    var x = document.getElementById("submit");
    x.removeAttribute("disabled");
   x.classList.remove("button_next_before");
    x.classList.add("button_next");
  }, 5000);
</script>

<body class="body">

  <div class="container">
    <div class="row">
      <div class="col-md-3 animation">
        <h3 class="text-center text-info font-italic font-weight-bold">Let's Play!!</h3>
        <img src= "https://caption.click/gifs/play.gif" class="gif">
         
        <div class="caption">
     
        <h5 class="font-weight-bold text-success">Total Score: <%= total_score %></h5>
        <h6 class="text-center mt-3">
          Score X Accuracy: <%= (total_score*.01*accuracy).toFixed(2) %> 
          <br/>(This is your
          reward calculation)
        </h6>        
        <form method="GET" action="/dashboard" class="mt-3">
          <input
            type="submit"
            name="submit"
            class="button_next"
            value="Back To Dashboard"
          />
        </form>
        </div>
      
      </div>
      <div class="col-md-7 wrapper">
        <div class="info">         
           
          <br />
          <div class="container">
            <div class="row">
              <div class="col">
                <h3 class="text-center text-info font-italic font-weight-bold">Let's Play!!</h3>
               <img src= "https://caption.click/gifs/play.gif" class="gif">
              </div>
              <div class="col caption">
                <h5 class="font-weight-bold text-success">Total Score: <%= total_score %></h5>
                <br>
                <h6 class="text-center">
                  Score X Accuracy: <%= (total_score*.01*accuracy).toFixed(2) %> (This is your
                  reward calculation)
                </h6>
                <form method="GET" action="/dashboard" class="mt-3">
                  <input
                    type="submit"
                    name="submit"
                    class="button_next"
                    value="Back To Dashboard"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center img-div mx-auto d-block">
        <img src="https://caption.click/images<%= imgURL %>" class="img-fluid image" />
        <!-- <img src="https://caption.click/images/val2014/COCO_val2014_000000052155.jpg" class="image" /> -->
        <!-- https://caption.click/images/val2014/COCO_val2014_000000052155.jpg -->
      </div>
        <br />
        <h5 class="caption mt-3 font-weight-bold"><%= caption_from_captions %></h5>
        <br />
      
        <form class="form-group" action="/play" method="post">
          <div style="text-align: center">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="1"
              />
              <label class="form-check-label" for="inlineRadio1">1</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio2"
                value="2"
              />
              <label class="form-check-label" for="inlineRadio2">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio3"
                value="3"
              />
              <label class="form-check-label" for="inlineRadio3">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio4"
                value="4"
              />
              <label class="form-check-label" for="inlineRadio3">4</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio5"
                value="5"
              />
              <label class="form-check-label" for="inlineRadio3">5</label>
            </div>
      
            <input
              type="hidden"
              id="hidden_input"
              name="hidden_input"
              value="<%=
            caption_id %>"
            />
          </div>
          <br>
          <div>
            <div class="container">
              <div class="row">
                <div class="col">
                <input
                  id="submit"
                  type="submit"
                  name="submit"
                  class="button_next_before"
                  value="Submit"
                  disabled
                />
                </div>
              </div>
            </form>
            <div class = "col">
            <button class="button_instructions" onclick="show_hide_instructions()">
              Rating Guide
            </button>
            </div>
          </div>
        </div>
      
        <div id="myDIV"
        style="display: none">
        
          <table class="table table-bordered table-secondary table-responsive text-center">
            <thead class="thead-light">
              <tr>
                <th scope="col">Rating</th>
                <th scope="col">Description</th>
                <th scope="col">Likert scale</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Poor caption. Completely wrong.</td>
                <td>Strongly disagree</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Captures part of image</td>
                <td>Disagree</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Captures part of image, weird language or action.</td>
                <td>Neither agree nor disagree</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Describes image mostly.</td>
                <td>Agree</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Describes the image perfectly!</td>
                <td>Strongly agree</td>
              </tr>
            </tbody> 
          </table>
        </div>
        <!-- <div>
        <form method="GET" action="/dashboard" class="button_dispute" >
          <input type="submit" name="submit" class="button_next" value="dashboard">
        </form>
      </div> -->

 
  
</div>
</body>